#drum-machine {
    margin: 0 auto;
    width: 28vw;
    height: 31vw;
    border: 1px solid darkred;
}

#power, #bank {
    display: flex;
    flex-direction: column;
    width: 64px;
}

.power-label {
    text-align: center;
}

.power-button, .bank-button {
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#display {
    margin: 5% 0;
    width: 50%;
    height: 10%;

    /*outline: 5px outset lightgray;*/
    /*border: 2px solid darkslategray;*/
    border: 5px solid hsl(0, 0%, 40%);
    padding: 5px;
    background: hsl(0, 0%, 20%);
    outline: 5px solid hsl(0, 0%, 60%);
    box-shadow:
            0 0 0 10px hsl(0, 0%, 80%),
            0 0 0 15px hsl(0, 0%, 90%);
}

.bank-label {
    text-align: center;
}

.drum-pad {
    width: 8vw;
    height: 8vw;
    font-size: 2em;
}